<!DOCTYPE html>
<html>
    <head>
        <title>DSS-SIARA - Datos clim&aacute;ticos e &iacute;ndices de vegetaci&oacute;n derivados de datos satelitales.</title>
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

        <link rel="stylesheet" href="/gee/static/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/gee/static/css/lightpick.css" type="text/css"/>
        <link rel="stylesheet" href="/gee/static/leaflet/leaflet.css" />
        <link rel="stylesheet" href="/gee/static/leaflet/leaflet-jquerydialog.css" />
        <link rel="stylesheet" href="/gee/static/css/style.css" />

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet-src.js"></script>
        <!--    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" /> -->

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="/gee/static/js/jquery.min.js"></script>
        <script src="/gee/static/bootstrap/js/bootstrap.min.js"></script>
        <script src="/gee/static/js/moment-with-locales.min.js" type="text/javascript" ></script>

        <!--     <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        -->    <script type="text/javascript" src="/gee/static/js/jquery-ui.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/gee/static/css/jquery-ui.css" />

        <script src="/gee/static/js/lightpick.js" type="text/javascript" ></script>
        <script src="/gee/static/leaflet/leaflet.js"></script>
        <script src="/gee/static/leaflet/leaflet-jquerydialog.js"></script>
        <script src="/gee/static/js/script.js"></script>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    </head>
    <body>
        <div id="loading">Cargando...</div>
        <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Ayuda</h4>
                    </div>
                    <div class="modal-body">
                        <p>El DD-SIARA despliega datos abiertos de im&aacute;genes satelitales para determinar el &Iacute;ndice de Vegetaci&oacute;n de Diferencia Normalizada (NDVI), el &Iacute;ndice de vegetaci&oacute;n ajustado al suelo (SAVI) como soporte para el c&aacute;lculo del coeficiente de cultivo Kc. Como tambi&eacute;n im&aacute;genes satelitales del sensor MODIS para el c&aacute;lculo de la evapotranspiraci&oacute;n y datos CHIRPS para la estimaci&oacute;n de tendencias de precipitaci&oacute;n.</p>
                        <p>Dado que estos datos son solo para fines de investigaci&oacute;n y evaluaci&oacute;n, se recomienda que los datos sean evaluados por profesionales en ciencias agr&iacute;colas, quienes pueden corroborar la informaci&oacute;n con datos colectados en campo. Una vez validados los datos, la informaci&oacute;n puede brindar un soporte para el c&aacute;lculo de cu&aacute;nta agua ha usado el cultivo y cu&aacute;nto riego se requiere aplicar. </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="map">
        </div>
        <div id="capa1">
            <div class="grid-container">
                <div class="grid-item scala">Escala:</div> 
                <div class="grid-item scalaValor escala"></div> 
                <div class="grid-item scala-down">Lat:</div>
                <div class="grid-item scala-down latitud"></div>
                <div class="grid-item scala-down">Long:</div>  
                <div class="grid-item scala-down longitud"></div> 
            </div>
        </div>
        <!-- the dialog that we'll be opening with the control -->
        <div id="dialog-about" title="Consultar Indices">
            <div class="content-dialog">
                <div>Descargos de responsabilidad: Estos datos son solo para fines de investigaci&oacute;n y evaluaci&oacute;n.</div>
                </br>
                <form id="searchForm">
                    <div class="form-group selectTwo">
                        <label for="fromDate">Variable</label>
                        <select class="form-control" id="variable" style="width: 100%">
                            <option value="">Seleccionar...</option>
                            <option value="NDVI-LANDSAT">&Iacute;ndice Normalizado Diferencial de Vegetaci&oacute;n - NDVI - Landsat</option>
                            <option value="NDVI-SENTINEL">&Iacute;ndice Normalizado Diferencial de Vegetaci&oacute;n - NDVI - Sentinel2</option>
                            <option value="PRECIPITATION">Precipitaci&oacute;n media anual - CHIRPS</option>
                            <option value="ETo">Evapotranspiraci&oacute;n Media Mensual Multianual - MODIS</option>
                            <option value="ET_MODIS">Suma de ocho d&iacute;as de evapotranspiraci&oacute;n - MODIS</option>
                            <option value="PRECIPITACION_DAILY"> Precipitaci&oacute;n diaria - CHIRPS</option>
                            <option value="SAVI_LANDSAT"> &Iacute;ndice de vegetaci&oacute;n ajustado al suelo - SAVI - Landsat</option>
                            <option value="SAVI_SENTINEL"> &Iacute;ndice de vegetaci&oacute;n ajustado al suelo - SAVI - Sentinel2</option>
                        </select>
                    </div>
                    <div id="dates">
                        <div class="form-group" id="fromDateGroup">
                            <label for="fromDate">Desde</label>
                            <input type="text" class="form-control" id="fromDate" placeholder="AAAA-MM-DD"/>
                        </div>
                        <div class="form-group">
                            <label for="toDate">Hasta</label>
                            <input type="text" class="form-control" id="toDate" placeholder="AAAA-MM-DD"/>
                        </div>
                    </div>                                        
                    <br/>
                    <button id="searchBtn" type="button" class="btn btn-default">Consultar</button>
                    <button id="searchBtn" type="button" class="btn btn-default" data-toggle="modal" data-target="#helpModal">Ayuda</button>
                </form>                
            </div>
        </div>      
    </body>
</html>