html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#map {
    height: 100%;
	background-color: #EDEDED;
	z-index:0;
}

#chart {
	height: 40%;
	width: 100%;
}

#chartToolbar {
	padding-left: 20px;
}

#leftCol {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index: 1001;
}

.container-fluid {
	height: 100%;
}

.container-fluid .row {
	height: 100%;
}

#loading{
	position:fixed;
	top:0px;
	bottom:0px;
	left: 0px;
	right: 0px;
	width: 100%; 
	color: #fff;
	text-align:center;
	background-color:#000;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
    opacity: 0.5;
	z-index: 100000;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
/*	background-color: #F1F6F9;*/
	/*padding: 2px;*/
  }
  .grid-item {
    font-size: 11px;
    text-align: center;
    border: 2px solid #777;
    border-top: none;
    line-height: 1.1;
    padding: 2px 5px 1px;
    white-space: nowrap;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);*/
  }

  #capa1 {
    position: absolute;
    z-index: 1;
    bottom: 1.5em;
	right: 0.7em;	
  }

  .selectTwo{
  	width: 100% !important;
  }

  .ui-dialog{
/*  	width: 50% !important;
  	height: 50% !important;*/
  	font-size: 0.9em !important;
   }

   .select2-container--default .select2-selection--single {
	    border: 1px solid #ccc !important;
	    height: 34px !important;
	}

/*  .select2-selection--single .select2-selection__rendered {
    color: #286090 !important;
  }*/

  .scala {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: right;
    border-right: none;
  }

  .scalaValor {
    grid-column-start: 3;
    grid-column-end: 5;
    text-align: left;
  }
  .content-dialog{
	position: relative;
    width: 90%;
    margin-left: 8%;
    margin-top: 1em;
    height: 29em;
  }

.leaflet-popup-content-wrapper{
	width: 45em !important;
    height: 21em !important;
}

.scala-down{
	border-right: none;
	border-bottom: none;
}
.longitud{
	border-right: 2px solid #777;
}

.ui-dialog-titlebar-close{
	background-image: url(../../../img/eliminar.svg);
    background-size: contain;
}
.ui-dialog-titlebar-close::after{
	background: rgba(255, 255, 255, 0.7);
}
